@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/scientific-calculator-lcd');
* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/pexels-monstera-6238068\ \(1\).jpg");

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 100px repeat(6, 60px); 
    background-color: #2fb0e3;
    padding: 20px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1rem;
    border: none;
    background: linear-gradient(90deg, rgb(40, 37, 97) 0%, rgba(1,124,165,1) 87%);    border-radius: 25px;
}

button:active {
    background-color: rgb(171, 180, 245);
}

.display {
    grid-column: 1 / span 6;
    margin: 5px 5px 15px;
    border-radius: .5em;
    font-family: 'Scientific Calculator LCD', sans-serif;
    display: flex;
    background-color: rgb(85, 86, 86);
    align-items: center;
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
}

.doble {
    grid-row: span 2;
}
