@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/scientific-calculator-lcd');
* {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/pexels-monstera-6238068\ \(1\).jpg");

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 100px repeat(6, 60px); 
    background-color: #2fb0e3;
    padding: 20px;
    border-radius: 5px;
}

button {
    padding: 1;
    margin: 5px;
    border-radius: 25px;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 0 5px #181f46;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #2f64f3;
    color: #FFFFFF;
  }
  
  button:active {
    background-color: #989afd;
    color: #FFFFFF;
  }

.display {
    grid-column: 1 / span 6;
    margin: 5px 5px 15px;
    border-radius: .5em;
    font-family: 'Scientific Calculator LCD', sans-serif;
    display: flex;
    background-color: rgb(85, 86, 86);
    align-items: center;
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
}

.doble {
    grid-row: span 2;
}
