@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(195, 183, 221);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 100px repeat(6, 60px); 
    background-color: rgb(36, 49, 36);
    padding: 20px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1rem;
    border: none;
    background-color: rgb(58, 67, 32);
    border-radius: 25px;
}

button:active {
    background-color: rgb(151, 160, 108);
}

.display {
    grid-column: 1 / span 6;
    margin: 5px 5px 15px;
    border-radius: .5em;
    display: flex;
    background-color: rgb(76, 77, 76);
    align-items: center;
    text-align: right;
    font-size: 1.5rem;
    padding: 20px;
}

.row-2 {
    grid-row: span 2;
}
